* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf1f8;
  color: #212121;
  line-height: 1.5;
}

.search {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  background: rgba(97, 114, 226, 0.674);
  z-index: 1;
}

.search-form {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
input {
  background-color: rgb(237, 239, 244);
  outline: none;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 280px;
  border: #212121;
  border-radius: 5;
  padding-left: 10px;
}
.button {
  min-width: 40px;
  height: 50px;
  border: #212121;
  background: rgba(122, 122, 122, 0.674);
  border-top-right-radius: 5;
  border-bottom-right-radius: 5;
  position: absolute;
  right: 0;
  cursor: pointer;
  /* background-image: url('/src/images/search.svg#icon-search'); */
}
.svg {
  width: 15px;
  height: 15px;
  border-top-right-radius: 6;
  border-bottom-left-radius: 6;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 70px 20px 20px 20px;
  justify-content: center;
}

.load-more-btn {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 0;
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: rgb(114, 142, 215);
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  display: none;
}

img {
  display: block;
  width: 100%;
  height: 160px;
  object-fit: cover;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  border: 1px solid rgb(197, 194, 194);
  flex-basis: calc((100% - 6 * 15px) / 5);
}

a:hover,
a:focus {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  transform: scale(1.04);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 10px;
}
.info-item + .info-item {
  margin-left: 7px;
}
html {
  scroll-behavior: smooth;
}

.end-search {
  text-align: center;
  font-size: 14px;
  color: rgba(37, 84, 204);
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
